
html{
    scroll-behavior: smooth;
}
body {
    background: #888;
}
/* start of header */
header {
    background: linear-gradient( #444, #790a02, #333); 
    position: sticky;
    top: 0;
    z-index: 1;
    font-family: 'Exo', sans-serif;
}
header a {
    color: #fff;
    text-transform: capitalize;
}
header a:hover {
    text-decoration: none;
    color: #000;
    transition: all 0.4s ease-in-out;
}
header ul {
    padding: 15px 0;
    text-align: center;
    margin: 0;
}
header li {
    display: inline;
    padding: 10px;
    font-size: 25px;
}
@media (max-width: 613px) {
    header li {
        font-size: 18px
  }
}
/* end of header */
/* start of hero */
.hero {
    z-index: 1;
    background: #888;
} 
.background img {
    position: absolute;
    width: 800px;
    height: 635px;
    border-bottom-left-radius: 500px;
    right: 0;
}
@media (max-width: 1197px) {
    .background img {
        width: 671px;
        height: 573px;
    }
}
.pic {
    padding-top: 30px;
    padding-bottom: 40px;
}
.pic img{
    width: 289px;
    height: 286px;
    margin-top: 30px;
    border: 4px solid #790a02;
}
.animated:hover { 
    animation-duration: 2s;
 }
@keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);} 
    40% {transform: translateY(-10px);} 
    60% {transform: translateY(-15px);} 
 } 
.bounce:hover { 
    animation-name: bounce; 
 }
@media (max-width: 766px) {
    .hero {
        text-align: center;
    }
    .pic img {
        margin: auto;
    }
}
.hero img {
    border-radius: 50%;
    box-shadow: 10px 15px 10px #000, -4px 0px 4px #000;
}
.hero h1 {
    text-transform: capitalize;
    color: #222;
    border-left: 5px solid #790a02;
    font-family: 'Exo', sans-serif;
    font-size: 57px;
    background:rgba(255, 255, 255, 0.5);
}
.hero h2 {
    text-transform: capitalize;
    font-size: 20px;
    color: #fff;
    margin-top: -15px;
    font-family: 'Exo', sans-serif;
    font-size: 45px;
    background:rgba(0, 0, 0, 0.5);
}
@media (max-width: 761px) {
    .hero h1 {
        font-size: 30px;
    }
    .hero h2 {
        font-size: 25px;
    }
}
@media (max-width: 1024px) {
    .hero h1 {
        font-size: 40px;
    }
    .hero h2 {
        font-size: 25px;
    }
}
.code img {
    box-shadow: none;
    border: none;
}
.down {
    margin-top: 14px;
    padding-left: 41px;
}
.hero p {
    color: #fff;
}
.hidden_text {
    width: 63px;
    margin-top: 72px;
    margin-left: 114px;
}
.coin {
    height: 326px;
    left: 145px;
    position: absolute;
    transform: translateX(-45%) translateY(4%);
    width: 364px;
} 
.front {
    border-radius: 50%;
    backface-visibility: hidden;
    cursor: pointer;
    height: inherit;
    position: absolute;
    transition: 1500ms cubic-bezier(0.85, 0.66, 0, 1.4);
    width: inherit;
    padding-top: 95px;
    font-size: 80px;
    text-align: center;
    border: 2px solid;
}
.front {
    background: #888;
    transform: rotateY(0deg);
} 
.front:hover {
    transform: rotateY(225deg);
    background: linear-gradient(-21deg, #999,#888 );
}
/* end of hero  */
/* start of about  */
.about {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    background: #5A5E60;
    border-bottom: 5px solid #790a02;
}
.about h2 {
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 40px;
    color: #fff;
    font-family: 'Exo', sans-serif;
}
.about p {
    color: #fff;
    font-size: 20px
}
@media (max-width: 769px) {
    .about p {
        font-size: 14px;
    }
}
/* end of about  */
/* start of the certification */
.certification {
    text-align: center;
    font-family: 'Exo', sans-serif;
}
.certification h2 {
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 40px;
    color: #fff;
}
.certification h3 {
    text-transform: capitalize;
    text-decoration: underline;
    font-size: 30px;
    color: #fff;
}
.certification .flash div:hover::before {
    animation: circle .75s;
    top: 50%;
	left: 50%;
}
.certification p {
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
}
/* end of the certification */
/* start of main */
main {
    background: #444;
    padding-top: 20px;
    font-family: 'Exo', sans-serif;
    position: relative;
}
main img{
    height: 100px;
}
main p {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 20px;
    padding-top: 10px;
}
main .lock {
    top: -30px;
    position: absolute;
}
.project-title h2 {
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    font-size: 45px;
    text-decoration: underline;
}
.project{
    margin: 48px;
    padding: 0px 0px 15px;
    border: 10px solid #790a02;
    box-shadow: 10px 15px 10px #000, -5px 0px 10px #000;
    overflow: hidden;
}
.flash div {
	position: relative;
}
.flash div::before {
	position: absolute;
	top: 10%;
	left: 0%;
	content: '';
	width: 0;
	height: 0;
	background: rgba(000, 000, 114, 0.2);
	border-radius: 100%;
	transform: translate(-50%, -50%);
    opacity: 0;
}
.flash div:hover::before {
	animation: circle .75s;
}
@keyframes circle {
	0% {
		opacity: 1;
	}
	40% {
		opacity: 1;
	}
	100% {
		width: 200%;
		height: 200%;
		opacity: 0;
	}
}
@media (min-width: 1001px) and (max-width: 1200px) {
    .project {
        margin: 40px;
    }
}
@media (min-width: 767px) and (max-width: 1000px) {
   .project {
        margin: 31px;
   }
}
.project :hover {
    left: 0;
    text-decoration: none;
}
.project a:hover {
    color: #000;
    transition: all 0.5s ease-in-out;
    box-shadow: -6px 7px 10px #000, 13px 10px 10px #000;
}
.side {
    height: 47px;
    background: #888;
    position: absolute;
    padding: 0 5px;
    top: 6%;
    left: -54px;
    transition: all 0.5s ease-in-out;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.side:hover {
    text-decoration: none;
}
.side p:hover{
    color: #000;
    transition: all 0.4s ease-in-out;
}
.aProject {
    border-left: #730901 solid 7px;
    background: #888888;
    font-size: 20px;
    text-transform: capitalize;
    padding: 9px;
}
.aProject a {
    color: floralwhite;
}
.aProject a:hover {
    color: #000;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
}
/* end of main  */
/* project page  */
.javascript{
    display: block;
}
.html{
    display: block;
}
.cPP{
    display: block;
}
.python{
    display: block;
}
.java{
    display: block;
}
.visualS{
    display: block;
}
/* end of project page  */
/* start of footer  */
footer {
    background: #790a02;
    font-family: 'Exo', sans-serif;
}
@media (max-width: 767px) {
    footer {
        text-align: center;
    }
}
@media (max-width: 770px) {
    footer {
        padding-left: 0;
    }
}
footer p {
    color: #fff;
    font-size: 25px;
    padding-top: 15px;
}
@media (max-width: 1197px) {
    footer p {
        font-size: 20px;
        padding-left: 20px;
    }
}
footer span {
    font-size: 23px;
}
footer a {
    color: #fff;
    text-decoration: none;
}
footer a:hover {
    color: #000;
    transition: all 0.4s ease-in-out;
    text-decoration: none;
}
footer ul {
    padding: 15px 0;
    text-align: right;
}
@media (max-width: 767px) {
    footer ul {
text-align: center;
    }
}
footer li {
    display: inline;
    padding: 10px;
    font-size: 35px;
}
/* end of footer  */